:root {
    --main-font-color: #FFF;
    --main-link-color: #4ECAFF;
    --gradient-deep: #981818;
    --gradient-light: #FFBF1A;
    --background-color: #3E3A3A;
    --description-color: #d8d8d8;
}

body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
}

/*
    TITLE BAR 
*/

.title-bar {
    display: flex;
    flex-direction: row;
    color: var(--main-font-color);
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, var(--gradient-light), 25%, var(--gradient-deep));
    padding: 0;
    margin: 0;
    justify-content: space-between;
    height: 75px;
}

.cat-container {
    max-width:33%;
}

.title-bar>* {
    flex-grow: 1;
}

.title-bar h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 75px;
    margin: 0;
}

.title-bar img {
    height: 100%;
}

/*
    INFOBOX
*/

.infobox {
    align-self:flex-start;
    padding:20px;
    max-width: 50rem;
}

.infobox .infoheader {
    font-family: 'Rajdhani', sans-serif;
    color: var(--gradient-light);
    font-size: 2.25rem;
    margin-bottom: 1em;
    font-weight: bold;
    
    
}

.infobox .info {
    font-family: 'Indie Flower', cursive;
    color: var(--description-color);
    font-size: 1.75rem;
}

.infobox .info a{
    color: var(--main-link-color)
}

.infobox-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit,  minmax(max(350px,50%), 1fr));
    justify-items: start;
    align-items: center;
    justify-content: center;
    align-content: center;
    row-gap: 50px;
    margin-top:25px;
}

/*
    Twitch IFRAME
*/

iframe {
    width:100%;
    height:490px;
}


/* body {
    background: #17001d;
}

* {
    color: #FFF
}

a {
    color: #9999ee
}

input,
textarea,
button {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .catpic {
        position: inherit;
    }
    .catpic img {
        max-width: 300px;
    }
    #commentTable {
        max-height: 300px;
        overflow-y: scroll;
        border: 1px solid black
    }
    .flex-horiz {
        display: flex;
        flex-direction: column;
    }
    .disclaimer {
        position: inherit;
    }
    iframe {
        width: 100%;
    }
}


// large screens

@media only screen and (min-width: 600px) {
    .catpic {
        position: absolute;
        top: 0;
        right: 0;
    }
    .catpic img {
        max-width: 300px;
    }
    #commentTable {
        float: right;
        width: calc(100% - (300px + 720px));
        margin-left: 100px;
        display: block;
        max-height: 75%;
        overflow-y: scroll;
        border: 1px solid black
    }
    .flex-horiz {
        display: flex;
        flex-direction: row;
        height: calc(100% - 150px);
    }
    .disclaimer {
        position: fixed;
        bottom: 0px;
    }
}*/